# Dependencies
node_modules/
**/node_modules/

# Next.js builds
.next/
**/.next/
out/
**/out/

# Production builds
build/
dist/

# Environment variables
.env*
**/.env*

# Logs
*.log
**/*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
